apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: "{{ .Values.mlflow.image }}"
        ports:
        - containerPort: 5000
        command: ["mlflow", "server", "--host", "0.0.0.0", "--port", "5000", "--serve-artifacts"]
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
spec:
  type: {{ .Values.mlflow.service.type }}
  ports:
  - port: {{ .Values.mlflow.service.port }}
    targetPort: 5000
  selector:
    app: mlflow
